* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.main__container {
  background-color: #00082f;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  padding: 10px;
}
.todos h2 {
  font-size: 30px;
  margin: 10px 0;
}
.icon__holder {
  width: 40px;
  margin: auto;
}

/* // Todo holder CSS // */
.todo__input__box {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 45px;
}
.todo__input,
.todo__select {
  background-color: transparent;
  outline: none;
  border: none;
  height: 100%;
  font-size: 18px;
  color: #333;
}
.todo__input {
  flex-grow: 1;
  padding: 0px 10px;
}
.todo__select {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

.todo__sub__btn {
  width: 50px;
  background-color: transparent;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
  height: 45px;
}

/* // todo list box // */
.todo_box {
  display: flex;
  background: white;
  margin: 10px 0px;
  align-items: center;
  color: #333;
  font-size: 18px;
}
.check__box {
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo_box:hover .todo__remove__btn svg {
  display: block;
}
.todo_box h3 {
  font-size: 20px;
  padding-left: 5px;
  flex: 0.7;
  padding: 10px;
}
.todo_box p {
  font-size: 18px;
  flex: 0.1;
}
.todo__remove__btn {
  flex: 0.1;
  color: #333;
  height: 45px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0px 10px;
  align-items: center;
  justify-self: center;
  position: relative;
}
.todo__remove__btn svg {
  width: 35px;
  margin: auto;
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 32%;
  display: none;
}
.text__throw {
  text-decoration: line-through;
}
.text__normal {
  text-decoration: none;
}

@media (max-width: 500px) {
  .todo__input__box {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
  }
  .todo__input {
    padding: 10px 10px;
    margin: 10px 0px;
    background: white;
  }
  .todo__select {
    border: none;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
  }
  .todo__sub__btn {
    width: 70px;
    padding: 0px 15px;
    background: white;
    margin: auto;
  }
}
